<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Snipe:ApiAddress" value="SNIPEAPIADDRESS"/>
    <add key="Snipe:ApiToken" value="SNIPEAPITOKEN"/>
    <add key="Marksman:ServiceInterval" value="-1"/>
    <add key="Marksman:ScannerEnabled" value="False"/>
    <add key="Marksman:ScannerSubnet" value="SUBNET|SUBNET|SUBNET"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>